<% provide(:title, 'About') %>
<h1>Comdhabiens</h1>
<p>
	<br><center> le numerique a notre porte </center></br>
   Le midi des comdhabiens. Une habitude que les etudiants ont et qui reflete une realite. Des etudiants de l'ESIEA,
   dans le cadre de leur projet en programmation web avancee ont voulu mettre en place un reseau social pour les etudiants.
   Ce reseau social permettra a chaque etudiant avec ses camarades de se fixer un rendez-vous a la pause pour choisir dans quels restaurants
   ils iront mange. L'equipe <b>COMDHABIENS</b> vous souhaite une bonne visite sur notre espace d'echange.
  
</p>