<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Le midi des comdhabiens. Ecriver nous si vous avez des suggestions ou ameliorations pour que le reseau <b>COMDHABIENS</b> puisse etre benefique
  a tout le monde. 
  <br> Nos adresses mails:</br>
  <br>---------->traore@et.esiea.fr</br>
  <br>---------->tondabo@et.esiea.fr</br>
  <br>---------->corbineau@et.esiea.fr</br>
</p>