<div class="center jumbotron">
  <h1>Comme d'habitude!</h1>

  <h2>
    Le midi des comdhabiens
    <a href="http://www.railstutorial.org/"></a>
    rejoignez nous.
  </h2>

 
<br>
<br>
   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </br>
  </br>
</div>
<center>
<%= link_to image_tag("esiea.png", alt: "Rails logo"),
            'http://www.esiea.fr/' %>
</center>