<footer class="footer">
  <small>
    <b>Projet Ruby on Rails<b>
    by TRAORE & TONDABO & CORBINEAU
  </small>
  <nav>
    <ul>
      <li><%= link_to "Comdhabiens",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>	