<footer class="footer">
  <small>
    Projet <a href="http://www.railstutorial.org/">Ruby on Rails</a>
    by <a href="http://www.michaelhartl.com/">TRAORE & TONDABO & CORBINEAU</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Comdhabiens",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>	